extends layout

block hero-unit
  .container
    .jumbotron
      .row.justify-content-around
        a.btn.main-button(href="/trends") 7. Trends
        | 
        a.btn.main-button(href="/crawler") 5. Crawler
        | 
        a.btn.main-button(href="/airticket") 23. Air Ticket
