extends ../layout

block content
  .container
    h1.main-title Crawler

    .download-link-container
      a(href="https://drive.google.com/open?id=1GDz_-3Y5HN_7DrAqpANEP0dWUM5bf3gs") Aplication Download link
      br
    img(src="https://user-images.githubusercontent.com/15935262/47731215-fea97380-dca6-11e8-94ec-aaebfa4ecdf4.PNG")
    img(src="https://user-images.githubusercontent.com/15935262/47731335-3b756a80-dca7-11e8-959e-9edbce1d88e6.PNG")