.header.clearfix
  nav.navbar.navbar-expand-md.fixed-top
    .container
      a.navbar-brand(href="/") NAVER-CAMPUS-HACKDAY
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
        
          
